#Button_BG {
    background-image: -moz-linear-gradient( -45deg, rgb(173,107,255) 0%, rgb(116,188,247) 100%);
    background-image: -webkit-linear-gradient( -45deg, rgb(173,107,255) 0%, rgb(116,188,247) 100%);
    background-image: -ms-linear-gradient( -45deg, rgb(173,107,255) 0%, rgb(116,188,247) 100%);
    position: absolute;
    left: 1081px;
    top: 1154px;
    width: 479px;
    height: 160px;
    z-index: 1889;
}
